@media screen and (max-width: 768px) {

    body {
        width: 100%;
        margin: 0;
    }
    .header {
        display: flex;
        flex-direction: column;
    }


    .headerNav {
        display: flex;
        width: 100%;
    }

    .headerNavLink {
        display: flex;
        justify-content: center;
        width: 50%;
        border-bottom: 4px solid white;
        border-top: 0;
    }

    .headerNavLink:hover {
        border-bottom: 4px solid #0065fc;
        color: #0065fc;
        border-top: 0;
    }

    .search {
        padding: 10px;
    }

    input {
        flex-grow: 2;
    }

    #h1M {
        padding: 30px 0 8px 16px;
    }

    #hosting {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }

    #hostM {
        /* width: max-content; */
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        min-width: none;
        padding: 10px;
        border-radius: 0px;
        margin-bottom: 0px;
    }

    #h5M {
        /* margin-top: 10px; */
        text-indent: -9999px;
    }

    .blockHosting article {
        width: auto;
        display: flex;
        flex-direction: column;
        background: none;
    }

    .filtres {
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
        width: auto;
        padding-left: 10px;
    }

    .filtresBtn {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }

    .filtres button {
        width: calc(50% - 10px);
        /* width: 47.5%; */
        margin: 0;
        /* margin-bottom: 4%; */
        justify-content: space-around;
    }

    .grille {
        flex-direction: column;
    }

    .grilleBox {
        display: flex;
        flex-direction: column;
    }

    .grilleText {
        flex-direction: column;
    }

    .grilleAside {
        flex-direction: column;
    }

    #sideM {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: none;
        padding: 10px;
        border-radius: 0px;
    }

    .sideColum article {
        width: auto;
        /* height: 144px; */

    }

    #atcM {
        width: auto;
        /* height: 144px; */
        margin: 6px 0 6px 0;
    }

    #atcMb {
        width: auto;
        height: 144px;
    }

    .sideColum img {
        width: 144px;
    }

    .grilleActivity {
        flex-direction: column;
        /* justify-content:center; */
    }

    .grilleActivity article {
        width: auto;
        margin-bottom: 12px;
    }
    .grilleActivity img {
        width: 100%;
        height: 140px;
    }


    footer {
        flex-direction: column;
        margin: 0px;
        width: auto;
    }

}